/* styling */

.info img {
    /* to be edited */
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.top,
.footer {
    background-color: #1f2937;
}

.hero-title {
    font-size: 48px;
    font-weight: 1000;
}

.logo,
.hero-title {
    color: #f9faf8;
}

.hero-text,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: white;
}


/* Flexing */

* {
    /* border: 1px maroon solid;
    margin: 20px;     */
    font-family: arial;
}

body {
    display: flex;
    flex-flow: row;
    height: 100vh;
    margin: 0;
}

.body {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    flex: 1;
}

.header-links {
    margin-left: auto;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-body {
    display: flex;
    flex-flow: column;
}